/******************************************************************************/
/* Resume 
/******************************************************************************/
body {
	background: #F5F5F5;

	font-family: "Roboto", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	padding: 30px;
}

a {
	color: #2D7788;
}

a:hover {
	color: #1A454F;
	text-decoration: underline;
}
a:focus {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

.wrapper {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

	position: relative;
	max-width: 960px;
	margin: 0 auto;
}

/******************************************************************************/
/* Sidebar
/******************************************************************************/
.sb-wrapper {
	background: #42A8C0;
	color: #FFFFFF;

	position: absolute;
	left: 0px;
	height: 100%;
	min-height: 800px;
	width: 300px;
}

.sb-wrapper a {
	color: #FFFFFF;
}

/* Profile */
.sb-wrapper .sb-profile {
	background: rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	text-align: center;

	padding: 30px;
}

.sb-profile .pf-picture {
	border-radius: 50%;

	height: 120px;
	width: 120px;
	margin-bottom: 15px;
}

.sb-profile .pf-name {
	font-size: 32px;
	font-weight: 900;

	margin-top: 0px;
	margin-bottom: 10px;
}

.sb-profile .pf-desc {
	color: rgba(255, 255, 255, 0.75);
	font-size: 18px;
	font-weight: 400;

	margin-top: 0px;
	margin-bottom: 0px;
}

/* Common properties */
.sb-wrapper .sb-block {
	padding: 30px;
}

.sb-block .sb-title {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;

	margin-top: 0px;
	margin-bottom: 15px;
}

.sb-block .sb-list {
	margin-bottom: 0px;
}

.sb-block .sb-list .sb-item {
	margin-bottom: 10px;
}

.sb-block .sb-list .sb-item:last-child {
	margin-bottom: 0px;
}

.sb-block .sb-desc {
	color: rgba(255, 255, 255, 0.6);
}

/* Contact */
.sb-contact .fa {
	line-height:20px;
	width:20px;
	font-size: 18px;
	text-align: left;
	vertical-align: middle;
}

.sb-contact .ct-country {
	font-variant: small-caps;
}

.sb-contact .fa-envelope {
	font-size: 14px;
}

/* Education */
.sb-education .ed-degree {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.sb-education .sb-desc {
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 0px;
}

/******************************************************************************/
/* Main Content
/******************************************************************************/
.mn-wrapper {
	background: #FFFFFF;
	color: #545E6C;

	padding: 60px;
	padding-left: 360px;
}

.mn-block {
	margin-bottom: 50px;
}

.mn-block .mn-title {
	color: #2D7788;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;

	position: relative;
	margin-top: 0px;
	margin-bottom: 20px;
}

.mn-block .mn-title .fa {
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
	text-align: center;
	vertical-align: center;
	display: inline-block;

	color: #FFFFFF;
	background: #2D7788;

	margin-right: 8px;
	background-clip: padding-box;
	font-size: 16px;

	position: relative;
}

.mn-block .mn-item {
	margin-bottom: 30px;
}

.mn-block .mn-item:last-child {
	margin-bottom: 0px;
}

.mn-block .mn-text {
	line-height: 1.5;
	text-align: justify;
    text-justify: inter-word;
}

.mn-block .mn-name {
	color: #3F4650;
	font-size: 16px;
	font-weight: 500;

	margin-top: 0px;
	margin-bottom: 0px;
}

.mn-block .mn-desc {
	color: #97AAC3;
}

/* Working Experiences */
.mn-experiences .exp-meta {
	position: relative;
	overflow: hidden;
	margin-bottom: 2px;
}

.exp-meta .exp-date {
	position: absolute;
	top: 0px;
	right: 0px;
}

.exp-details .exp-detail {
	margin-bottom: 5px;
}

.exp-details .exp-detail:last-child {
	margin-bottom: 0px;
}

/* Skills
.skillset .item {
	margin-bottom: 15px;
	overflow: hidden;
}

.skillset .level-title {
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 12px;
}

.skillset .level-bar {
	height: 12px;
	background: #f5f5f5;
}

.skillset .level-bar-inner {
	height: 12px;
	background: #7bc2d3;
}
*/
