/******************************************************************************/
/* Constants 
/******************************************************************************/
@white:      #F5F3F5;
@light-grey: #EFEDEF;
@grey:       #CECCCE;
@dark-grey:  #222022;
@black:      #1B1A1B;
@green:      #6EAD3A;

@cv-height: 297mm;	
@cv-width: 210mm;

@sb-width: 7cm;
@sb-title-margin: 0.75cm;

@sb-margin: 0.5cm;
@mn-margin: 0.75cm;

@picture-size: 130px;
@cv-space: 7pt;
@cv-smallspace: 3pt;

@font-huge: 25px;
@font-Large: 18px;
@font-large: 16px;
@font-normal: 14px;
@font-small: 13px;

/******************************************************************************/
/* Page
/******************************************************************************/
body {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	padding: @mn-margin;
	color: @black;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.wrapper {
	box-shadow: 0px 2px 4px @black;

	position: relative;
	max-width: @cv-width;
	margin: 0px auto;
}

/******************************************************************************/
/* Sidebar
/******************************************************************************/
.sb-wrapper {
	background: @dark-grey;
	color: @white;

	position: absolute;
	left: 0px;
	height: 100%;
	min-height: @cv-height;
	width: @sb-width;
	
	a {
		color: @grey;
	}

	.sb-profile {
		background: @black;
		text-align: center;

		padding: @sb-margin;
		
		.pf-picture {
			border-radius: 50%;
			border: 3px solid @white;
			
			height: @picture-size;
			width: @picture-size;
			margin-bottom: 0.5cm;
		}
		
		.pf-name {
			color: @white;
			font-size: @font-huge;
			font-weight: bold;

			margin-top: 0px;
			margin-bottom: 0.2cm;
		}
		
		.pf-desc {
			color: @grey;
			font-size: @font-large;
			font-weight: normal;

			margin-top: 0px;
			margin-bottom: 0px;
		}
	}

	.sb-block {
		padding: 0px @sb-margin 0px @sb-margin;
		
		.sb-title {
			font-size: @font-Large;
			font-weight: bold;
			text-transform: uppercase;

			margin-top: @sb-title-margin;
			margin-bottom: @sb-title-margin;
		}
		
		.sb-list {
			margin: 0px;
		}

		.sb-item {
			font-size: @font-normal;
			margin-bottom: @cv-smallspace;

			&:last-child { margin-bottom: 0px; }
		}
	}
	
	.sb-contact {
		padding: @sb-margin @sb-margin 0px @sb-margin;

		.fa {
			@sb-fa-size: 20px;
			line-height: @sb-fa-size;
			width: @sb-fa-size;

			font-size: @font-normal;
			text-align: left;
			vertical-align: middle;
		}

		.sb-item {
			margin-bottom: @cv-smallspace;
		}
		
		.ct-country {
			font-variant: small-caps;
		}
		
		.fa-envelope {
			font-size: @font-normal - 2pt;
		}
	}

	.sb-education {
		.ed-degree {
			color: @white;
			font-weight: bold;
			font-size: @font-normal;

			margin-top: 0px;
			margin-bottom: @cv-smallspace;

			.ed-grade {
				color: @grey;
				font-style: italic;
				font-weight: normal
			}
		}
		
		.ed-place {
			color: @grey;
			font-weight: normal;

			margin-top: 0px;
			margin-bottom: 0px;

			.sb-country {
				font-variant: small-caps;
			}
		}

		.ed-date {
			color: @grey;
			font-style: italic;

			margin-top: 0px;
			margin-bottom: 0px;
		}
	}

	.sb-languages {
		.sb-lang {
			color: @white;
			font-weight: bold;
			font-size: @font-normal;
		}

		.sb-desc {
			color: @grey;
			font-weight: normal;
			font-style: italic;
			font-size: @font-small;
		}
	}
}

/******************************************************************************/
/* Main Content
/******************************************************************************/
.mn-wrapper {
	background: @white;

	padding: @mn-margin;
	padding-left: @sb-width + @mn-margin;

	height: 100%;
	min-height: @cv-height;

	.mn-block {
		&:first-child {
			.mn-title:first-child {
				margin-top: 0px;
			}
		}

		.mn-title {
			font-size: @font-Large;
			font-weight: bold;
			text-transform: uppercase;

			position: relative;
			margin-top: 0.5cm;
			margin-bottom: 0.5cm;


			.fa {
				width: 32px;
				line-height: @mn-margin;
				text-align: center;
				display: inline-block;
				border-radius: 50%;

				color: @white;
				background: @green;

				margin-right: 4px;
				background-clip: padding-box;
				font-size: @font-large;

				position: relative;
			}
		}

		.mn-item {
			margin-bottom: @cv-space;
			&:last-child { margin-bottom: 0px; }
		}

		.mn-text {
			line-height: 1.2;
			text-align: justify;
			text-justify: inter-word;
		}

		.mn-name {
			color: @black;
			font-size: @font-large;
			font-weight: bold;

			margin-top: 0px;
			margin-bottom: 0px;
		}
	}

	/* Working Experiences */
	.mn-experiences {
		.exp-meta {
			position: relative;
			overflow: hidden;
			margin-bottom: @cv-smallspace;

			.exp-date {
				font-size: @font-normal;
				color: @black;
				position: absolute;
				top: 0px;
				right: 0px;
				font-style: italic;
			}

			.exp-company {
				font-size: @font-normal;
				font-weight: bold;
				color: @dark-grey;
				margin-top: @cv-smallspace;
				margin-bottom: @cv-space;
			}

			.exp-location {
				font-weight: bold;
				color: @dark-grey;
				font-variant: small-caps;
			}
		}

		.exp-details {
			margin: 0px;
			padding: 0px;

			.exp-detail {
				&:before {
					content: "\2022";
					display: table-cell;
					padding-right: @cv-smallspace;
				}

				margin-bottom: 0px;
				list-style: none;
				display: table-row;
			}
		}
	}

	/* Skills */
	.mn-skills {
		.sk-items {
			.sk-item:not(:last-child):after {
				content: "\2022";
				padding-left: 10px;
			}

			.sk-item:last-child:after {
				content: "";
			}
		}

		.sk-prgm {
			margin-bottom: @cv-smallspace;

			&:before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			.pg-name {
				display: inline-block;
				vertical-align: middle;
				width: 8%;
			}

			.pg-total {
				display: inline-block;
				vertical-align: middle;
				height: 0.25cm;
				background-color: @grey;
				outline: 1px solid @black;
				width: 90%;

				.pg-level {
					height: 0.25cm;
					background-color: @green;
					outline: 1px solid @black;
				}
			}
		}
	}
}
